<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">
	<display-name>Practice9</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>CalcServ</servlet-name>
		<servlet-class>calc.CalcServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CalcServ</servlet-name>
		<url-pattern>/calc</url-pattern>
	</servlet-mapping>

	<context-param>
		<param-name>listSport</param-name>
		<param-value>Football Biathlon Basketball</param-value>
	</context-param>

	<session-config>
		<session-timeout>5</session-timeout>
	</session-config>

</web-app>