body{
     background-image: url(../img/bg14.jpg);
 }

.infoError{
    margin:150px 300px 220px;
    text-align:center;
}

h1{
    font-size:46px;
}

h2{
    font-size:25px;
}

h3{
    font-size:20px;
}

h3 a{
    color: black;
}